/* css */

/*Afacad Flux*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

/*Saira Condensed*/
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

:root
{
    --webcontentsize: 100rem;
}

*
{
    padding: 0;
    margin: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6, a, body
{
    font-family: Afacad Flux ;
    font-weight: bold;
}

p
{
    font-family: Saira Condensed;
    font-weight: 400;
}


body 
{
    font-size: 16px;
    letter-spacing: normal;
    line-height: normal;
    word-spacing: normal;
    text-indent: 0;

    background-image: url("../img/Background.png"); 
    background-size: 16rem;
    background-repeat: repeat;
}

header 
{
    position: relative;
    border-bottom: 1rem solid #212121;
    overflow: hidden;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0) 30%), 
                      linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0) 15%);

    .background
    {
        position: absolute;
        width: 100%;
        top: -20%;
        z-index: -1;
        
    }

    section 
    {
        display: grid;
        margin-top: 2rem;
        margin-bottom: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ' NavLogo NavBar NavBar '
                             ' NavTitle NavTitle NavTitle'
                             ' NavFlavourText NavFlavourText NavFlavourText';

        img 
        {
            grid-area: NavLogo;
            width: 12rem;
        }

        nav
        {
            grid-area: NavBar;
            font-size: 1.8rem;

            ul
            {
                list-style: none;

                li
                {
                    display: inline; 
                }

                li:not(:last-child)
                {
                    margin-right: 0.5rem;
                }
            
                li:last-child
                {
                    padding: 0.5rem;
                    float: right;
                    background-color: #3DA35D;
                }
            }

            a 
            {
                text-decoration: none;
                color: white;
            }

            a:hover 
            {
                color: gray;
            }
            
            a.current
            {
                text-decoration: underline #3DA35D;
                color: gray;
            }
        }

        h1
        {
            grid-area: NavTitle;
            margin-top: 12rem;
            font-size: 8rem;
        }

        h2
        {
            grid-area: NavFlavourText;
            font-size: 2rem;
        }
    }

}

section
{
    width: var(--webcontentsize);
    margin: auto;
}

.IndexPageDetails 
{
    > h1
    {
        margin: 2rem;
        text-align: center;
        font-size: 2.5rem;
    }

    padding: 2rem 0;

    li
    {
        display: grid;
        margin: 8rem 0;
        grid-template-columns: auto auto;
        grid-template-areas: ' Article SideImg ';
        color: white;
        background-color: #212121;
    }

    li:nth-child(odd)
    {
        grid-template-areas: ' SideImg Article ';
    }

    article
    {
        grid-area: Article;
        margin: auto 4rem;
        font-size: 2rem;
    }
    
    img
    {
        grid-area: SideImg;
        background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 100%);
    }

    p
    {
        margin-top: 1rem;
        margin-bottom: 4rem;

        text-transform: uppercase;
        text-transform: none;
        border-color: white;
        border: 1rem;
        border-style: double;
        border-width: 0rem;




    }

    a
    {
        padding: 1rem;
        float: right;
        text-decoration: none;
        color: white;
        background-color: #3DA35D;
    }

    a:hover 
    {
        color: gray;
    }
}

.RestaurantDetails, .HotelDetails
{
    > h1
    {
        margin: 2rem;
        text-align: center;
        font-size: 2.5rem;
    }

    > ul
    {
        list-style: none; 
        
        > li
        {
            padding: 2rem;
            margin: 2rem 0;
            color: white;
            background-color: #212121; 
            display: grid;
            grid-template-columns: auto, 1fr;
            grid-template-areas: ' img img ' 
                                 ' title title '
                                 ' details button ';

            h1
            {
                grid-area: title;
                font-size: 3rem;
            }

            p
            {
                grid-area: details;
                margin-right: 2rem;
                font-size: 2rem;
            }

            img
            {
                grid-area: img;
                width: 100%;
            }

            a
            {
                grid-area: button;
                font-size: 2rem;
                padding: 1rem;
                margin-top: auto;
                float: right;
                text-decoration: none;
                color: white;
                background-color: #3DA35D;
            }
        }
    }
}

.Events
{
    padding: 4rem;
    background-color: #212121;
    color: white;

    h1
    {
        grid-area: title;
        font-size: 3rem;
    }

    p
    {
        grid-area: paragraf;
        font-size: 2.5rem;
    }

    img
    {
        margin: auto;
        grid-area: image;
    }

    article
    {
        margin-bottom: 10rem;
    }

    .Westfries
    {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr;
        grid-template-areas: ' title image '
                             ' paragraf image';

        h1, p
        {
            padding-right: 2rem;
        }
    }

    .OudeHaven, .Museum20eEeuw
    {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr;
        grid-template-areas: ' image title ' 
                             ' image paragraf ';

        h1, p
        {
            padding-left: 2rem;
        }
        
        img
        {
            width: 35rem;
        }
    }

    .Stadsstrand, .HetPark
    {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: ' title '
                             ' paragraf '  
                             ' image ';

        img
        {
            margin-top: 3rem;
            width: 100%;
        }
    }
}

.TimeLine
{
    width: var(--webcontentsize);
    margin: auto;
    margin-top: 6rem;

    > ul
    {
        list-style: none; 
        border-right: 0.5rem solid black;
        padding-right: 1rem;

        > li
        {
            margin: 2rem 0;

            h2
            {
                border-bottom: 0.5rem solid black;
                margin-bottom: 1rem;
                font-size: 3rem;
            }

            article
            {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto 1fr;
                grid-template-areas: ' year year '
                                     ' title img '
                                     'paragraf img ';
                background-color: #212121;
                padding: 2rem;
                color: white;
            }

            h1
            {
                grid-area: title;
                font-size: 3rem;
            }

            p
            {
                grid-area: paragraf;
                font-size: 2.5rem;
                margin-right: 3rem;
            }

            img
            {
                margin: auto;
                grid-area: img;
            }
        }
    }
}

.contact
{
    width: var(--webcontentsize);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'contact form';

    table
    {
        grid-area: contact;
    }

    form 
    {
        grid-area: form;
        padding: 1rem;
        margin-top: 2rem;

        background-color: white;
    
        border: 0.2rem double;
        border-radius: 1rem;
        border-color: gray;
        border-width: 0.2rem;

        label 
        {
            padding-top: 1rem;
        }

        input, textarea
        {
            display: block;
            width: 100%;
            padding: 0.6rem;
            border: 0.1rem solid gray;
            border-radius: 0.2rem;
        }

        button
        {
            margin-top: 2rem;
        }
    }
}

footer 
{
    padding: 2rem;
    margin-top: 10rem;
    color: white;
    background-color: #212121;
    font-size: 1.2rem;


    ul
    {
        list-style: none;
    
        li
        {
                display: grid;
                justify-items: center;
                margin-bottom: 0.4rem;
        }

        a  
        {
            text-decoration: none;
            color: white;
        }
        
        img
        {
            width: 10rem;
        }
    }
}

@media only screen and (max-width: 100rem)
{
    header
    {
        
        .background
        {
            width: var(--webcontentsize);
            height: 121%;
            object-fit: cover;
        }

        
        section
        {
            > *
            {
                margin: 0 1rem;
            }
        }
    }

    section
    {
        width: 100%;
    }

    .Events
    {
        width: 90%;
        padding: 0rem;
        h1, p
        {
            padding: 1rem;
        }
        img
        {
            width: 100%;
        }
    }

    .TimeLine
    {
        width: 90%;
        img
        {
            width: 100%;
        }
    }

    footer
    {
        padding: 2rem 0;
    }
}

@media only screen and (max-width: 768px)
{
    header
    {
        #menu-toggle
        {
            display: none;
        }

        .hamburger
        {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 20px;
            cursor: pointer;

            span
            {
                position: absolute;
                left: 0;
                right: 0;
                height: 3px;
                background-color: #212121;

                :nth-child(1)
                {
                    top: 0;  
                }
                :nth-child(2)
                {
                   top: 9px; 
                }
                :nth-child(3)
                {
                   bottom: 0; 
                }
            }
        }
         
        nav
        {
            position: absolute;
            top: 0;
            right: -300px;
            width: 300px;
            height: 100%;
            background-color: #212121;
            color: white;

            ul
            {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li
                {
                    padding: 10px;

                    a
                    {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }

        #menu-toggle:checked ~ nav
        {
            left: 0;
        }



        

/*

        nav
        {
            li:not(:last-child)
            {
                display: none;
            }

            li:last-child
            {
                padding: 100rem;
                font-size: 2rem;
            }
        }

*/
    }

    .IndexPageDetails
    {
        li
        {
            grid-template-columns: auto;
            grid-template-areas: ' SideImg '
                                 ' Article ' ;
            padding-bottom: 2rem;
        }
        li:nth-child(odd)
        {
            grid-template-areas: ' SideImg '
                                 ' Article ' ;
        }

        img
        {
            width: 100%;
        }
    }

    .RestaurantDetails, .HotelDetails
    {
        ul
        {
            li
            {
                grid-template-columns: auto;
                grid-template-rows: auto auto auto auto 2rem;
                grid-template-areas: ' title '
                                     ' img ' 
                                     ' details '
                                     ' button '
                                     ' . ';

                padding: 0rem;

                h1, p
                {
                    text-align: center;
                    padding: 1rem;
                }

                a
                {
                    text-align: center;
                }

                
            }
        }
    }

    .Events
    {

        h1, p
        {
            text-align: center;
            padding: 1rem;
        }

        padding: 0rem;
        .Stadsstrand, .HetPark, .OudeHaven, .Museum20eEeuw, .Westfries
        {
            grid-template-columns: auto ;
            grid-template-rows: auto auto auto;
            grid-template-areas: ' image '
                                 ' title '
                                 ' paragraf '  
                                 ;

            img
            {
                margin-top: 3rem;
                width: 100%;
            }
        }
    }

    .TimeLine
    {
        ul
        {
            li
            {
                
                article
                {
                    p
                    {
                        margin-bottom: 4rem;
                    }
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-areas: ' year '
                                         ' title '
                                         'paragraf '
                                         ' img ';
                }
            }
        }

    }
    

}
